<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="UserVo" type="com.seok.www.domain.UserVo"/>
		<typeAlias alias="BoardVo" type="com.seok.www.domain.BoardVo"/>
		<typeAlias alias="ReplyVo" type="com.seok.www.domain.ReplyVo"/>
		<typeAlias alias="NoticeVo" type="com.seok.www.domain.NoticeVo"/>
		<typeAlias alias="FileVo" type="com.seok.www.domain.FileVo"/>
	</typeAliases>
	

</configuration>
